@using HairSalon.Models;
@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Stylist: @Model["selectedStylist"].GetStylistName()</h1>
  <hr/>
  <h3>@Model["selectedStylist"].GetStylistName() specializes in:</h3>
    @foreach (var specialty in Model["stylistSpecialties"])
    {
      <ul>
        <li>@specialty.GetService()</li>
      </ul>
    }
  <h4>Add speciality to this stylist:</h4>
  <form action="/stylists/@Model["stylist"].GetId()/specialties/new" method="post">
    <label for="service">Select a service</label>
    <select id="service" name="service" type='text'>
      @foreach (var service in @Model["stylistSpecialties"])
      {
        <option value="@specialty.GetId()">@specialty.GetService()</option>
      }
    </select>
    <button type="submit" class="btn btn-info">Add Stylist</button>
  </form>
  <hr/>
  @if (Model["stylistClients"].Count == 0)
    {
      <h3>No clients have been added.</h3>
    }
    else
    {
      <h3>Here are all the clients for @Model["selectedStylist"].GetStylistName():</h3>
      <ol>
        @foreach (var client in Model["stylistClients"])
        {
          <li>@client.GetClientName()</li>
        }
      </ol>
    }

  <br>
  <br>
  <p><a href = "/stylists/@Model["selectedStylist"].GetId()/new">Add a client</a></p>
  <p><a href="">Delete this stylist</a></p>
  <hr/>
  <p><a href='/stylists'>Return to Stylists List</a></p>
  <p><a href='/'>Return to Main Page</a></p>
</div>
