@using HairSalon.Models;
@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Service: @Model["selectedSpecialty"].GetService()</h1>
  <hr/>

  @if (@Model.Count == 0)
  {
    <h3>No services have been added</h3>
  }
  else
  {
    <h3>Here are all the stylists that specialize in this service:</h3>
    <ol>
      @foreach (var stylist in Model["specialtyStylists"])
      {
        <li>@stylist.GetStylistName()</li>
      }
    </ol>
  }

  <hr/>
  <h3>Add stylist to this speciality:</h3>
  <form action="/specialties/@Model["selectedSpecialty"].GetId()/stylists/new" method="post">
  <label for="stylistId">Select a stylist</label>
  <select id="stylistId" name="stylistId" type='text'>
    @foreach (var stylist in @Model["allStylists"])
    {
      <option value="@stylist.GetId()">@stylist.GetStylistName()</option>
    }
  </select>
  <button type="submit" class="btn btn-info">Add Stylist</button>
</form>

  <br>
  <hr/>
  <p><a href="/specialties/">Back to list of services</a></p>
  <p><a href="/">Main Page</a></p>
</div>
